.ItemDetailContainer {
    margin: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .ItemDetailContainer img {
    width: 100%;
    border-radius: 8px;
  }
  
  .ItemDetailContainer .ItemFooter {
    margin-top: 20px;
  }
  
  